# =========================
# DEPENDENCIES
# =========================
node_modules/

# =========================
# ENV FILES (VERY IMPORTANT)
# =========================
.env
.env.local
.env.development
.env.production
